numpy
ipykernel
matplotlib
scikit-learn
pandas
seaborn
xgboost
catboost 
lightgbm
google-genai
unstructured
pdfminer.six
pi-heif
langchain
langchain-community
langchain-core
sentence-transformers
chromadb
ollama
pdf2image
groq